<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
            <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
            <link rel="stylesheet" href="~/fonts/ionicons.min.css">
            <link rel="stylesheet" href="~/css/landingpage.min.css" />
            <link rel="icon" href="@Url.Content("~/images/favicon.ico")" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-className="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/fonts/font-awesome.min.css" asp-append-version="true">
            <link rel="stylesheet" href="~/fonts/ionicons.min.css" asp-append-version="true">
            <link rel="stylesheet" href="~/css/landingpage.min.css" asp-append-version="true" />
            <link rel="icon" href="@Url.Content("~/images/favicon.ico")" />
        </environment>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body>
        @RenderBody()
        <environment names="Development,Staging,Production">
            <script src="@Url.Content("~/app/libbundle.min.js")" asp-append-version="true"></script>
            <script src="@Url.Content("~/app/landingPage.jsx")" asp-append-version="true"></script>
        </environment>
        @RenderSection("scripts", required: false)
    </body>
</html>
